include ./layouts/header.jade
div.container-fluid.page-wrap
  div.row
    div.col-md-10.col-md-offset-1
      h1.Title.text-center!= message
      div.row
        div.col-md-6.col-md-offset-3.text-center
          p Here is where you can start putting content for your application.
              
include ./layouts/footer.jade
