footer
  div.container-fluid
    div.row
      div.col-md-6.col-md-offset-3
        div.text-center Footer content can go here.


  script(src="/js/lib/jquery.min.js")
  script(src="/js/lib/bootstrap.min.js")

  script.
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','YOUR-ANALYTICS-CODE','auto');ga('send','pageview');
